body {
    background-color: black;
    margin: 50px;
}

h1, h2, p {
    color: white;
}

canvas {
    outline: solid 1px white;
    background-color: white;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
